$main-background-color: #D27B1E;
$li-background-color: #FEDDA7;
$border-color: darken($main-background-color, 3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.container {
  background-color: $main-background-color;
}

header {
  h1 {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    font-weight: 300;
    font-size: 3rem;
    color: white;
  }
}

i {
  width: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: $main-background-color;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  .filters-done {
    display: flex;
    align-items: center;
    border: 3px solid $border-color;
    background-color: $li-background-color;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    .icon {
      padding-right: 0.5rem;
    }
  }
  .filters-priorities {
    display: flex;
    align-items: center;
    border: 3px solid $border-color;
    background-color: $li-background-color;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
    .icon {
      padding-right: 0.5rem;
    }
  }
}

.list {
  li {
    display: flex;
    font-style: italic;
    list-style: none;
    font-size: 1.5rem;
    background-color: $li-background-color;
    padding: 0.75rem;
    margin: 0.75rem;
    border: 3px solid $border-color;
    .list-checkboxes {
      display: flex;
      flex-direction: column;

    }
    .list-content {
      padding-left: 1rem;
      flex-grow: 1;
      .list-content-date {
        font-size: 0.9rem;
      }
    }
    .list-delete {
      align-self: flex-start;
      color: $border-color;
      font-weight: bold;
      font-style: normal;
    }
  }
}

.form {
  .form-button {
    display: flex;
    justify-content: center;
    button {
      background-color: $li-background-color;
      border: 3px solid $border-color;
      outline: none;
      padding: 0.5rem;
      border-radius: 0.4rem;
      color: darken($border-color, 30);
    }
  }
  form {
    margin-top: 1rem;
  }
  label {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    input {
      border: 1px solid $border-color;
    }
    input[type="text"] {
      flex-grow: 1;
      font-style: italic;
      list-style: none;
      font-size: 1rem;
      background-color: $li-background-color;
      padding: 0.79rem;
      margin-left: 0.75rem;
      margin-top: 0.75rem;
      margin-right: 0.75rem;
      border: 3px solid $border-color;
      border-bottom: none;
      color: $border-color;
      text-align: center;
    }
    input[type="date"] {
      flex-grow: 1;
      display: flex;
      font-style: italic;
      list-style: none;
      font-size: 1rem;
      background-color: $li-background-color;
      padding: 0.75rem;
      margin-bottom: 0.20rem;
      margin-left: 0.75rem;
      border: 3px solid $border-color;
      border-right: 1px solid $border-color;
      color: $border-color;

    }
    input[type="time"] {
      flex-grow: 1.5;
      display: flex;
      font-style: italic;
      list-style: none;
      font-size: 1rem;
      background-color: $li-background-color;
      padding: 0.75rem;
      margin-bottom: 0.20rem;
      margin-right: 0.75rem;
      border: 3px solid $border-color;
      border-left: none;
      color: $border-color;

    }
    input[type="submit"] {
      background-color: $li-background-color;
      border: 3px solid $border-color;
      outline: none;
      padding: 0.70rem;
      margin: 0.30rem;
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 0.4rem;
      color: darken($border-color, 20);
    }
  }
}
// mobile width max 480px
