$main-background-color: #D27B1E;
$li-background-color: #FEDDA7;
$border-color: lighten($main-background-color, 3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.container {
  background-color: $main-background-color;
  height: 100vh;
}

//klasy używane do efektów js

.done {
  text-decoration: line-through;
  color: grey;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

// elementy strony

header {
  h1 {
    &::selection{
      background-color: $border-color;
    }
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    font-weight: 300;
    font-size: 3rem;
    color: white;
  }
}

i {
  width: 1rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: $main-background-color;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
  .filters-done {
    &:hover{
      transform: scale(1.03);
      background-color: lighten($li-background-color, 5);
      transition: 0.08s all;
    }
    &::selection{
      background-color: $border-color;
    }
    display: flex;
    align-items: center;
    border: 3px solid $border-color;
    background-color: $li-background-color;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
    .icon {
      padding-right: 0.5rem;
    }
  }
  .filters-priorities {
    &:hover{
      transform: scale(1.03);
      background-color: lighten($li-background-color, 5);
      transition: 0.08s all;

    }
    &::selection{
      background-color: $border-color;
    }
    display: flex;
    align-items: center;
    border: 3px solid $border-color;
    background-color: $li-background-color;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    .icon {
      padding-right: 0.5rem;
    }
  }
}

.list {
  li {
    display: flex;
    font-style: italic;
    list-style: none;
    font-size: 1.5rem;
    font-weight: 300;
    background-color: $li-background-color;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0.75rem;
    border: 3px solid $border-color;
    &:hover{
      transform: scale(1.008);
      background-color: lighten($li-background-color, 5);
      transition: 0.08s all;
    }
    .list-checkboxes {
      display: flex;
      flex-direction: column;
      padding: 0.2rem;
      i {
        cursor: pointer;
      }
    }
    .list-content {
      padding: 0.4rem 1.5rem 0.7rem 1.5rem;
      flex-grow: 1;
      .list-content-text {
        &::selection{
          background-color: $border-color;
        }
      }
      .list-content-date {
        &::selection{
          background-color: $border-color;
        }
        font-size: 0.9rem;
      }
    }
    .list-delete {
      .list-delete-button{
        &:hover{
          cursor: pointer;
          color: darken($border-color, 15);
          // font-weight: bold;
        }
        &::selection{
          color: white;
          background-color: $border-color;
        }
      }
      align-self: flex-start;
      color: $main-background-color;
      padding-top: 0.2rem;
      font-weight: 400;
      font-style: normal;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }
}

.form {
  .form-button {
    display: flex;
    justify-content: center;
    button {
      &:hover{
        background-color: lighten($li-background-color, 5);
        cursor: pointer;
        border-color: darken($border-color, 5);
        transform: scale(1.03);
      }
      &:active{
        background-color: darken($li-background-color, 8);
      }
      &::selection{
        background-color: $border-color;
      }
      background-color: $li-background-color;
      border: 3px solid $border-color;
      font-size: 1rem;
      font-weight: bold;
      font-family: inherit;
      outline: none;
      padding: 0.5rem;
      border-radius: 0.4rem;
      transition: transform 0.08s, background-color 0.08s, border-color 0.08s, visibility 0.5s, opacity 0.5s linear;
    }
  }
  form {
    margin-top: 1rem;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
  }
  .form-date-time {
    display: flex;
    justify-content: center;
  }
  label {
    display: flex;
    justify-content: center;
    input {
      &::selection{
        color: white;
        background-color: $border-color;
      }
      &:focus{
        outline-color: darken($border-color, 15);
        color: darken($border-color, 10);
      }
      &::-webkit-clear-button {
        display: none;
      }
      &::-webkit-inner-spin-button {
        display: none;
      }
      &::-ms-clear {
        display: none;
      }
      border: 3px solid $border-color;
      font-style: italic;
      list-style: none;
      font-size: 1rem;
      background-color: $li-background-color;
      color: $border-color;
      text-align: center;
    }
    input[type="text"] {
      &::placeholder{
        color: $border-color;
      }
      flex-grow: 1;
      padding: 0.79rem;
      margin-left: 0.75rem;
      margin-top: 0.75rem;
      margin-right: 0.75rem;
      border-bottom: none;
    }
    input[type="date"] {
      flex-grow: 1;
      display: flex;
      padding: 0.75rem;
      margin-bottom: 0.20rem;
      margin-left: 0.75rem;
      border-right: 1px solid $border-color;
    }
    input[type="time"] {
      flex-grow: 1.5;
      display: flex;
      padding: 0.75rem;
      margin-bottom: 0.20rem;
      margin-right: 0.75rem;
      border-left: none;
    }
    input[type="submit"] {
      &:hover{
        cursor: pointer;
      }
      &:active{
        background-color: darken($li-background-color, 8);
      }
      display: block;
      outline: none;
      padding: 0.5rem;
      margin: 0.30rem;
      font-family: inherit;
      font-size: 1.1rem;
      font-weight: bold;
      border-radius: 0.4rem;
      color: darken($border-color, 5);
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  body {
    background-color: $main-background-color;
  }
}
@media (min-width: 769px) {
  .container {
    max-width: 850px;
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
    border: 6px solid darken($border-color, 5);
  }
  body {
    background-color: #999696;
  }
}

// mobile width max 480px
